<div class="mb-4 p-3 page-section">
    <div class="main-card-box">
        <div class="row align-items-center align-items-xl-center mb-2">
            <div class="col-md-4 col-6 pe-0">
                <p class="heading-text mb-0">User Details</p>
            </div>
            <div class="search-add-button-box col-6 col-md-8 text-end">
                <button class="btn add-button width-max-content">
                    <i class="fa fa-plus plus-icon"></i>
                    Add <span class="btn-text">User</span>
                </button>
            </div>
        </div>
        <div class="mt-4">
            <app-user-list [userService$]="userService$"></app-user-list>
        </div>
    </div>
</div>