.spinner {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 999999999;
    width: 100% !important;
    height: 100% !important;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
  }
  .spinner-border {
    --cui-spinner-width: 3rem;
    --cui-spinner-height: 3rem;
    position: fixed !important;
    top: 45% !important;
    left: 50% !important;
  }
  